	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/06/2020 07:35
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 100px;
font-style: normal;
margin-left: 20px;
}

.flaticon-modeling:before { content: "\f100"; }
.flaticon-architect:before { content: "\f101"; }
.flaticon-3d-modeling:before { content: "\f102"; }
.flaticon-model:before { content: "\f103"; }
.flaticon-floor-plan:before { content: "\f104"; }
.flaticon-graphs:before { content: "\f105"; }
.flaticon-beam:before { content: "\f106"; }
.flaticon-calculator:before { content: "\f107"; }
.flaticon-axis:before { content: "\f108"; }
.flaticon-axis-1:before { content: "\f109"; }
.flaticon-cube:before { content: "\f10a"; }
.flaticon-download:before { content: "\f10b"; }
.flaticon-business:before { content: "\f10c"; }
.flaticon-download-1:before { content: "\f10d"; }
.flaticon-arrow:before { content: "\f10e"; }
.flaticon-drawing:before { content: "\f10f"; }
.flaticon-drawing-1:before { content: "\f110"; }
.flaticon-architect-1:before { content: "\f111"; }
.flaticon-architect-2:before { content: "\f112"; }
.flaticon-moon:before { content: "\f113"; }
.flaticon-sun:before { content: "\f114"; }
.flaticon-play-button:before { content: "\f115"; }
.flaticon-floppy-disk:before { content: "\f116"; }
.flaticon-floppy-disk-1:before { content: "\f117"; }
.flaticon-play-button-1:before { content: "\f118"; }
.flaticon-sun-1:before { content: "\f119"; }
.flaticon-moon-phase-outline:before { content: "\f11a"; }
.flaticon-save:before { content: "\f11b"; }
.flaticon-cube-1:before { content: "\f11c"; }
.flaticon-beam-1:before { content: "\f11d"; }
.flaticon-business-1:before { content: "\f11e"; }
.flaticon-add:before { content: "\f11f"; }
.flaticon-add-1:before { content: "\f120"; }
.flaticon-add-2:before { content: "\f121"; }
.flaticon-browser:before { content: "\f122"; }
.flaticon-browser-1:before { content: "\f123"; }
.flaticon-axis-2:before { content: "\f124"; }
.flaticon-ruler:before { content: "\f125"; }
.flaticon-dimension:before { content: "\f126"; }
.flaticon-pencil:before { content: "\f127"; }
.flaticon-paint-brush:before { content: "\f128"; }
.flaticon-palette:before { content: "\f129"; }
.flaticon-brush:before { content: "\f12a"; }
.flaticon-pen:before { content: "\f12b"; }
.flaticon-marker:before { content: "\f12c"; }
.flaticon-eraser:before { content: "\f12d"; }
.flaticon-scissors:before { content: "\f12e"; }
.flaticon-cut:before { content: "\f12f"; }
.flaticon-glue:before { content: "\f130"; }
.flaticon-ruler-1:before { content: "\f131"; }
.flaticon-compass:before { content: "\f132"; }
.flaticon-protractor:before { content: "\f133"; }
.flaticon-paint-roller:before { content: "\f134"; }
.flaticon-paint-bucket:before { content: "\f135"; }
.flaticon-paint-can:before { content: "\f136"; }
.flaticon-paint-tube:before { content: "\f137"; }
.flaticon-paint-palette:before { content: "\f138"; }
.flaticon-paint-spray:before { content: "\f139"; }
.flaticon-paint-roller-1:before { content: "\f13a"; }
.flaticon-paint-brush-1:before { content: "\f13b"; }
.flaticon-paint-bucket-1:before { content: "\f13c"; }
.flaticon-paint-can-1:before { content: "\f13d"; }
.flaticon-paint-tube-1:before { content: "\f13e"; }
.flaticon-paint-palette-1:before { content: "\f13f"; }
.flaticon-paint-spray-1:before { content: "\f140"; }
.flaticon-pencil-1:before { content: "\f141"; }
.flaticon-pencil-2:before { content: "\f142"; }
.flaticon-pencil-3:before { content: "\f143"; }
.flaticon-pencil-4:before { content: "\f144"; }
.flaticon-pencil-5:before { content: "\f145"; }
.flaticon-pencil-6:before { content: "\f146"; }
.flaticon-pencil-7:before { content: "\f147"; }
.flaticon-pencil-8:before { content: "\f148"; }
.flaticon-pencil-9:before { content: "\f149"; }
.flaticon-pencil-10:before { content: "\f14a"; }
.flaticon-pencil-11:before { content: "\f14b"; }
.flaticon-pencil-12:before { content: "\f14c"; }
.flaticon-pencil-13:before { content: "\f14d"; }
.flaticon-pencil-14:before { content: "\f14e"; }
.flaticon-pencil-15:before { content: "\f14f"; }
.flaticon-pencil-16:before { content: "\f150"; }
.flaticon-pencil-17:before { content: "\f151"; }
.flaticon-pencil-18:before { content: "\f152"; }
.flaticon-pencil-19:before { content: "\f153"; }
.flaticon-pencil-20:before { content: "\f154"; }
.flaticon-pencil-21:before { content: "\f155"; }
.flaticon-pencil-22:before { content: "\f156"; }
.flaticon-pencil-23:before { content: "\f157"; }
.flaticon-pencil-24:before { content: "\f158"; }
.flaticon-pencil-25:before { content: "\f159"; }
.flaticon-pencil-26:before { content: "\f15a"; }
.flaticon-pencil-27:before { content: "\f15b"; }
.flaticon-pencil-28:before { content: "\f15c"; }
.flaticon-pencil-29:before { content: "\f15d"; }
.flaticon-pencil-30:before { content: "\f15e"; }
.flaticon-pencil-31:before { content: "\f15f"; }
.flaticon-pencil-32:before { content: "\f160"; }
.flaticon-pencil-33:before { content: "\f161"; }
.flaticon-pencil-34:before { content: "\f162"; }
.flaticon-pencil-35:before { content: "\f163"; }
.flaticon-pencil-36:before { content: "\f164"; }
.flaticon-pencil-37:before { content: "\f165"; }
.flaticon-pencil-38:before { content: "\f166"; }
.flaticon-pencil-39:before { content: "\f167"; }
.flaticon-pencil-40:before { content: "\f168"; }
.flaticon-pencil-41:before { content: "\f169"; }
.flaticon-pencil-42:before { content: "\f16a"; }
.flaticon-pencil-43:before { content: "\f16b"; }
.flaticon-pencil-44:before { content: "\f16c"; }
.flaticon-pencil-45:before { content: "\f16d"; }
.flaticon-pencil-46:before { content: "\f16e"; }
.flaticon-pencil-47:before { content: "\f16f"; }
.flaticon-pencil-48:before { content: "\f170"; }
.flaticon-pencil-49:before { content: "\f171"; }
.flaticon-pencil-50:before { content: "\f172"; }
.flaticon-pencil-51:before { content: "\f173"; }
.flaticon-pencil-52:before { content: "\f174"; }
.flaticon-pencil-53:before { content: "\f175"; }
.flaticon-pencil-54:before { content: "\f176"; }
.flaticon-pencil-55:before { content: "\f177"; }
.flaticon-pencil-56:before { content: "\f178"; }
.flaticon-pencil-57:before { content: "\f179"; }
.flaticon-pencil-58:before { content: "\f17a"; }
.flaticon-pencil-59:before { content: "\f17b"; }
.flaticon-pencil-60:before { content: "\f17c"; }
.flaticon-pencil-61:before { content: "\f17d"; }
.flaticon-pencil-62:before { content: "\f17e"; }
.flaticon-pencil-63:before { content: "\f17f"; }
.flaticon-pencil-64:before { content: "\f180"; }
.flaticon-pencil-65:before { content: "\f181"; }
.flaticon-pencil-66:before { content: "\f182"; }
.flaticon-pencil-67:before { content: "\f183"; }
.flaticon-pencil-68:before { content: "\f184"; }
.flaticon-pencil-69:before { content: "\f185"; }
.flaticon-pencil-70:before { content: "\f186"; }
.flaticon-pencil-71:before { content: "\f187"; }
.flaticon-pencil-72:before { content: "\f188"; }
.flaticon-pencil-73:before { content: "\f189"; }
.flaticon-pencil-74:before { content: "\f18a"; }
.flaticon-pencil-75:before { content: "\f18b"; }
.flaticon-pencil-76:before { content: "\f18c"; }
.flaticon-pencil-77:before { content: "\f18d"; }
.flaticon-pencil-78:before { content: "\f18e"; }
.flaticon-pencil-79:before { content: "\f18f"; }
.flaticon-pencil-80:before { content: "\f190"; }
.flaticon-pencil-81:before { content: "\f191"; }
.flaticon-pencil-82:before { content: "\f192"; }
.flaticon-pencil-83:before { content: "\f193"; }
.flaticon-pencil-84:before { content: "\f194"; }
.flaticon-pencil-85:before { content: "\f195"; }
.flaticon-pencil-86:before { content: "\f196"; }
.flaticon-pencil-87:before { content: "\f197"; }
.flaticon-pencil-88:before { content: "\f198"; }
.flaticon-pencil-89:before { content: "\f199"; }
.flaticon-pencil-90:before { content: "\f19a"; }
.flaticon-pencil-91:before { content: "\f19b"; }
.flaticon-pencil-92:before { content: "\f19c"; }
.flaticon-pencil-93:before { content: "\f19d"; }
.flaticon-pencil-94:before { content: "\f19e"; }
.flaticon-pencil-95:before { content: "\f19f"; }
.flaticon-pencil-96:before { content: "\f1a0"; }
.flaticon-pencil-97:before { content: "\f1a1"; }
.flaticon-pencil-98:before { content: "\f1a2"; }
.flaticon-pencil-99:before { content: "\f1a3"; }
.flaticon-pencil-100:before { content: "\f1a4"; }
.flaticon-pencil-101:before { content: "\f1a5"; }
.flaticon-pencil-102:before { content: "\f1a6"; }
.flaticon-pencil-103:before { content: "\f1a7"; }
.flaticon-pencil-104:before { content: "\f1a8"; }
.flaticon-pencil-105:before { content: "\f1a9"; }
.flaticon-pencil-106:before { content: "\f1aa"; }
.flaticon-pencil-107:before { content: "\f1ab"; }
.flaticon-pencil-108:before { content: "\f1ac"; }
.flaticon-pencil-109:before { content: "\f1ad"; }
.flaticon-pencil-110:before { content: "\f1ae"; }
.flaticon-pencil-111:before { content: "\f1af"; }
.flaticon-pencil-112:before { content: "\f1b0"; }
.flaticon-pencil-113:before { content: "\f1b1"; }
.flaticon-pencil-114:before { content: "\f1b2"; }
.flaticon-pencil-115:before { content: "\f1b3"; }
.flaticon-pencil-116:before { content: "\f1b4"; }
.flaticon-pencil-117:before { content: "\f1b5"; }
.flaticon-pencil-118:before { content: "\f1b6"; }
.flaticon-pencil-119:before { content: "\f1b7"; }
.flaticon-pencil-120:before { content: "\f1b8"; }
.flaticon-pencil-121:before { content: "\f1b9"; }
.flaticon-pencil-122:before { content: "\f1ba"; }
.flaticon-pencil-123:before { content: "\f1bb"; }
.flaticon-pencil-124:before { content: "\f1bc"; }
.flaticon-pencil-125:before { content: "\f1bd"; }
.flaticon-pencil-126:before { content: "\f1be"; }
.flaticon-pencil-127:before { content: "\f1bf"; }
.flaticon-pencil-128:before { content: "\f1c0"; }
.flaticon-pencil-129:before { content: "\f1c1"; }
.flaticon-pencil-130:before { content: "\f1c2"; }
.flaticon-pencil-131:before { content: "\f1c3"; }
.flaticon-pencil-132:before { content: "\f1c4"; }
.flaticon-pencil-133:before { content: "\f1c5"; }
.flaticon-pencil-134:before { content: "\f1c6"; }
.flaticon-pencil-135:before { content: "\f1c7"; }
.flaticon-pencil-136:before { content: "\f1c8"; }
.flaticon-pencil-137:before { content: "\f1c9"; }
.flaticon-pencil-138:before { content: "\f1ca"; }
.flaticon-pencil-139:before { content: "\f1cb"; }
.flaticon-pencil-140:before { content: "\f1cc"; }
.flaticon-pencil-141:before { content: "\f1cd"; }
.flaticon-pencil-142:before { content: "\f1ce"; }
.flaticon-pencil-143:before { content: "\f1cf"; }
.flaticon-pencil-144:before { content: "\f1d0"; }
.flaticon-pencil-145:before { content: "\f1d1"; }
.flaticon-pencil-146:before { content: "\f1d2"; }
.flaticon-pencil-147:before { content: "\f1d3"; }
.flaticon-pencil-148:before { content: "\f1d4"; }
.flaticon-pencil-149:before { content: "\f1d5"; }
.flaticon-pencil-150:before { content: "\f1d6"; }
.flaticon-pencil-151:before { content: "\f1d7"; }
.flaticon-pencil-152:before { content: "\f1d8"; }
.flaticon-pencil-153:before { content: "\f1d9"; }
.flaticon-pencil-154:before { content: "\f1da"; }
.flaticon-pencil-155:before { content: "\f1db"; }
.flaticon-pencil-156:before { content: "\f1dc"; }
.flaticon-pencil-157:before { content: "\f1dd"; }
.flaticon-pencil-158:before { content: "\f1de"; }
.flaticon-pencil-159:before { content: "\f1df"; }
.flaticon-pencil-160:before { content: "\f1e0"; }
.flaticon-pencil-161:before { content: "\f1e1"; }
.flaticon-pencil-162:before { content: "\f1e2"; }
.flaticon-pencil-163:before { content: "\f1e3"; }
.flaticon-pencil-164:before { content: "\f1e4"; }
.flaticon-pencil-165:before { content: "\f1e5"; }
.flaticon-pencil-166:before { content: "\f1e6"; }
.flaticon-pencil-167:before { content: "\f1e7"; }
.flaticon-pencil-168:before { content: "\f1e8"; }
.flaticon-pencil-169:before { content: "\f1e9"; }
.flaticon-pencil-170:before { content: "\f1ea"; }
.flaticon-pencil-171:before { content: "\f1eb"; }
.flaticon-pencil-172:before { content: "\f1ec"; }
.flaticon-pencil-173:before { content: "\f1ed"; }
.flaticon-pencil-174:before { content: "\f1ee"; }
.flaticon-pencil-175:before { content: "\f1ef"; }
.flaticon-pencil-176:before { content: "\f1f0"; }
.flaticon-pencil-177:before { content: "\f1f1"; }
.flaticon-pencil-178:before { content: "\f1f2"; }
.flaticon-pencil-179:before { content: "\f1f3"; }
.flaticon-pencil-180:before { content: "\f1f4"; }
.flaticon-pencil-181:before { content: "\f1f5"; }
.flaticon-pencil-182:before { content: "\f1f6"; }
.flaticon-pencil-183:before { content: "\f1f7"; }
.flaticon-pencil-184:before { content: "\f1f8"; }
.flaticon-pencil-185:before { content: "\f1f9"; }
.flaticon-pencil-186:before { content: "\f1fa"; }
.flaticon-pencil-187:before { content: "\f1fb"; }
.flaticon-pencil-188:before { content: "\f1fc"; }
.flaticon-pencil-189:before { content: "\f1fd"; }
.flaticon-pencil-190:before { content: "\f1fe"; }
.flaticon-pencil-191:before { content: "\f1ff"; }
.flaticon-pencil-192:before { content: "\f200"; }
.flaticon-pencil-193:before { content: "\f201"; }
.flaticon-pencil-194:before { content: "\f202"; }
.flaticon-pencil-195:before { content: "\f203"; }
.flaticon-pencil-196:before { content: "\f204"; }
.flaticon-pencil-197:before { content: "\f205"; }
.flaticon-pencil-198:before { content: "\f206"; }
.flaticon-pencil-199:before { content: "\f207"; }
.flaticon-pencil-200:before { content: "\f208"; }
.flaticon-pencil-201:before { content: "\f209"; }
.flaticon-pencil-202:before { content: "\f20a"; }
.flaticon-pencil-203:before { content: "\f20b"; }
.flaticon-pencil-204:before { content: "\f20c"; }
.flaticon-pencil-205:before { content: "\f20d"; }
.flaticon-pencil-206:before { content: "\f20e"; }
.flaticon-pencil-207:before { content: "\f20f"; }
.flaticon-pencil-208:before { content: "\f210"; }
.flaticon-pencil-209:before { content: "\f211"; }
.flaticon-pencil-210:before { content: "\f212"; }
.flaticon-pencil-211:before { content: "\f213"; }
.flaticon-pencil-212:before { content: "\f214"; }
.flaticon-pencil-213:before { content: "\f215"; }
.flaticon-pencil-214:before { content: "\f216"; }
.flaticon-pencil-215:before { content: "\f217"; }
.flaticon-pencil-216:before { content: "\f218"; }
.flaticon-pencil-217:before { content: "\f219"; }
.flaticon-pencil-218:before { content: "\f21a"; }
.flaticon-pencil-219:before { content: "\f21b"; }
.flaticon-pencil-220:before { content: "\f21c"; }
.flaticon-pencil-221:before { content: "\f21d"; }
.flaticon-pencil-222:before { content: "\f21e"; }
.flaticon-pencil-223:before { content: "\f21f"; }
.flaticon-pencil-224:before { content: "\f220"; }
.flaticon-pencil-225:before { content: "\f221"; }
.flaticon-pencil-226:before { content: "\f222"; }
.flaticon-pencil-227:before { content: "\f223"; }
.flaticon-pencil-228:before { content: "\f224"; }
.flaticon-pencil-229:before { content: "\f225"; }
.flaticon-pencil-230:before { content: "\f226"; }
.flaticon-pencil-231:before { content: "\f227"; }
.flaticon-pencil-232:before { content: "\f228"; }
.flaticon-pencil-233:before { content: "\f229"; }
.flaticon-pencil-234:before { content: "\f22a"; }
.flaticon-pencil-235:before { content: "\f22b"; }
.flaticon-pencil-236:before { content: "\f22c"; }
.flaticon-pencil-237:before { content: "\f22d"; }
.flaticon-pencil-238:before { content: "\f22e"; }
.flaticon-pencil-239:before { content: "\f22f"; }
.flaticon-pencil-240:before { content: "\f230"; }
.flaticon-pencil-241:before { content: "\f231"; }
.flaticon-pencil-242:before { content: "\f232"; }
.flaticon-pencil-243:before { content: "\f233"; }
.flaticon-pencil-244:before { content: "\f234"; }
.flaticon-pencil-245:before { content: "\f235"; }
.flaticon-pencil-246:before { content: "\f236"; }
.flaticon-pencil-247:before { content: "\f237"; }
.flaticon-pencil-248:before { content: "\f238"; }
.flaticon-pencil-249:before { content: "\f239"; }